{% extends "algo/layout.html" %} {% load static %} {% block content %}

<section class="func">
    <div class="container">
        <h2 class="func-header">РЕШИТЬ ЗАДАЧУ</h2>
        <div class="funcard">
            <form action="{% url 'algo:task' %}" method="post">
                {% csrf_token %}
                <center>
                    {{ form.as_p }}
                    <input type="submit" value="Решить" />
                </center>
            </form>
        </div>
    </div>
</section>

{% endblock content %}